.pageTitle {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  /* height: 7rem; */
  border-radius: 20px;
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 2rem;
}

.titleCon {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  /* display: flex;
  flex: 0.5;
  align-items: center; */
}

.titleCon svg {
  cursor: pointer;
}

.title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.greeting {
  display: flex;
  /* flex: 0.8; */
  flex-direction: column;
}

.greeting h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
/* 
.greeting h3 span {
  font-size: 20px;
} */

.greeting p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #757575;
}

.search {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 16px;
  background: #efefef;
  margin-left: 1.8rem;
}

.search .searchBox {
  outline: none;
  border: none;
  margin-right: 1rem;
  border: none;
  background-color: inherit;
}

.searchBox::placeholder {
  color: #757575;
  font-family: Montserrat;
  font-size: 15px;
  padding: 1rem;
  font-weight: 400;
  line-height: 15px;
}

.adminImg {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 100%;
}

.adminNav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 4rem;
}

.name {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #000000;
}
