.landing {
  display: flex;
  min-height: 100vh;
  padding: 3rem;
  justify-content: center;
  background: #f5f5f5;
}
.landing main {
  width: 100%;
  max-width: 90%;
  padding: 0 3rem 3rem;
  margin: 0 auto;
  background: #ececec;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.landing .main-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.landing .main-content h1 {
  font-size: 56px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
}
.main-content h1 span:nth-child(1) {
  color: #6cb5ff;
}
.main-content h1 span:nth-child(2) {
  color: #ffc252;
}
.main-content h1 span:nth-child(3) {
  color: #72ff72;
}
.main-content > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-content .cards {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}
.main-content .cards .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 0.7rem;
  box-shadow: 0px 17px 32px -7px #00000017;
  background: #fff;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  height: 70%;
  transition: transform 0.3s ease;
}
.main-content .cards .card:nth-child(1):hover {
  transform: rotateX(15deg) rotateY(15deg);
}
.main-content .cards .card:nth-child(2):hover {
  transform: scale(1.05);
}
.main-content .cards .card:nth-child(3):hover {
  transform: rotateX(15deg) rotateY(-15deg);
}
.main-content .cards .card:nth-child(2) {
  height: 100%;
}
.card h2 {
  font-weight: 500;
  line-height: 15spx;
}
