.modal-component {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal-component .modal-container {
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 500px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-component .modal-container.sm {
	max-width: 300px;
}

.modal-component .modal-container.md {
	max-width: 600px;
}

.modal-component .modal-container.lg {
	max-width: 800px;
}

.modal-component .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
}

.modal-component .modal-header h2 {
	margin: 0;
	font-size: 18px;
}

.modal-component .close-button {
	background: none;
	border: none;
	cursor: pointer;
}

.modal-component .close-button svg {
	color: rgba(200, 0, 22, 1);
	font-size: 20px;
}

.modal-component .modal-content {
	padding: 5px 0;
}

.modal-component .modal-footer {
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
	text-align: right;
}

.modal-component form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-component button {
	background: rgba(200, 0, 22, 1);
	color: white;
	border-radius: 10px;
	padding: 10px;
}
